<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travelcircle" >

    <!-- General-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Magnet Chat API -->
    <permission
        android:name="com.travelcircle.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.travelcircle.permission.C2D_MESSAGE" />

    <!-- Google Map API -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyAplication"
        android:allowBackup="true"
        android:icon="@mipmap/travelcircle"
        android:label="@string/app_name"
        android:theme="@style/Theme" >
        <receiver android:name="com.magnet.mmx.client.MMXGcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.integratehackathon" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="GkmNnoUZGBwfQJd3xsGgPIUachckL2eddHN3wrvR" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="EPMcSnJnN8MhBBz7TkLKEyBwwOx0xNWHm6Blg9jW" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
